#!/usr/bin/env xdg-open
[Desktop Entry]
Name=ExampleUI
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/3d-icon.png
Type=Application
Exec=runOGLES2ExampleUI.sh -qaf=1000
Categories=3d
ProgramType=gui
